body{
    background-image: url("o.jpg");
    
}
.container {
    background-color: rgba(71, 218, 30, 0.7); /* Ajouter une transparence au fond pour améliorer la lisibilité */
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 800px;
}

#ti{
    text-align: center;
    color: rgb(228, 39, 22);
    background-color: rgb(83, 215, 215);
}
.text-center{
    border: solid;
    background-color: rgb(210, 47, 207);
    display: inline


}
.navbar-nav .nav-item {
    margin-right: 20px; 
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; 
}   
.navbar-gradient {
    background: linear-gradient(to right, #071d9b, #8aa214); 
}